body {
	background-color: black;
	margin: 0; padding: 0;
}

#moon {
	width: 100px; height: 100px;
	position: absolute;
	left: 50px; top: 100px;
}

.layer {
	position: absolute;
	left: 0px; top: 150px;
}
.cloud {
	width: 200px; height: 100px;
	position: absolute;
}
