body {
	background-color: black;
	margin: 0; padding: 0;
}

#moon {
	width: 180px; height: 180px;
	position: absolute;
	left: 50px; top: 70px;
}

.layer {
	position: absolute;
	left: 0px; top: 150px;
}
.cloud {
	width: 200px; height: 100px;
	position: absolute;
}

#landscape {
	position: absolute;
	left: 0px; bottom: 0px;
}

#house {
	width: 100px; height: 150px;
	position: absolute;
	left: 90px; bottom: 100px;
}

#message {
	width: auto; height: auto;
	position: absolute;
	left: 300px; top: 70px; right: 70px; bottom: 70px;
	background-color: rgba(128, 128, 128, 0.5);
	padding: 2em;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	font-size: 150%;
}
